<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <h5>
                <i class="fas fa-info-circle mr-2"></i>
                Liên hệ
            </h5>
            <br>
            <p><b>Di động:</b> (012) 3456789<br/>
                <b>E-mail:</b> admin@gmail.com</p>
            <br>
            <h6>Thời gian làm việc</h6>
            <p>
                Cửa hàng trực tuyến mở cửa từ 08:00 đến 20:00 không nghỉ trưa và cuối tuần. <br/>
                Đơn hàng trực tuyến được chấp nhận 24/7.
            </p>
            <br>
            <h6>Giao hàng</h6>
            <p>Giao hàng thông qua dịch vụ chuyển phát nhanh.</p>
        </div>

    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>