<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-9">
                    <div class="container mb-5">
                        <th:block th:replace="fragments/common-fragments :: info-title(
                            text='Đơn hàng #' + ${order.getId()},
                            titleClass='text-center',
                            icon='fas fa-shopping-bag'
                        )"/>
                        <div class="row border my-5 px-5 py-3">
                            <div class="col-md-6">
                                <h5 class="manage_user_order_subtitle">
                                    <i class="fas fa-info-circle mr-2"></i>
                                    Thông tin khách hàng
                                </h5>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Tên', text=${order.getFirstName()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Họ', text=${order.getLastName()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Thành phố', text=${order.getCity()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Địa chỉ', text=${order.getAddress()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Email', text=${order.getEmail()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Số điện thoại', text=${order.getPhoneNumber()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Mã bưu điện', text=${order.getPostCode()})"/>
                            </div>
                            <div class="col-md-6">
                                <h5 class="manage_user_order_subtitle">
                                    <i class="fas fa-info-circle mr-2"></i>
                                    Thông tin đơn hàng
                                </h5>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Mã đơn hàng', text=${order.getId()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Ngày', text=${#temporals.format(order.getDate(), 'yyyy-MM-dd HH:mm')})"/>
                                <h4 class="manage_user_order_summary">
                                    Tổng đơn hàng:
                                    <span class="manage_user_order_summary_price" th:text="'$' + ${order.getTotalPrice()} + '0'"></span>
                                </h4>
                            </div>
                        </div>
                        <table class="table border text-center">
                            <thead class="table-active">
                            <tr>
                                <th>Mã nước hoa</th>
                                <th>Thương hiệu nước hoa</th>
                                <th>Tên nước hoa</th>
                                <th>Giá</th>
                            </tr>
                            </thead>
                            <tbody th:each="perfume : ${order.getPerfumes()}">
                            <tr>
                                <th>
                                    <a th:href="@{/perfume/{perfumeId} (perfumeId = ${perfume.getId()})}" th:text="${perfume.getId()}"></a>
                                </th>
                                <th th:text="${perfume.getPerfumer()}"></th>
                                <th th:text="${perfume.getPerfumeTitle()}"></th>
                                <th th:text="'$' + ${perfume.getPrice()} + '.00'"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>